.listbox-area {
    padding: 20px;
    background: #eee;
    border: 1px solid #aaa;
    font-size: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

.left-area,
.right-area {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  width: 50%;
}

.left-area {
  padding-right: 10px;
}

.right-area {
  padding-left: 10px;
}

[data-role="option"] {
    display: block;
    padding: 0 1em 0 1.5em;
    position: relative;
    line-height: 1.8em;
}

[data-role="option"].focused {
    background: #bde4ff;
}

[data-role="option"][aria-selected="true"]::before {
    content: 'âœ“';
    position: absolute;
    left: 0.5em;
}

#rolodex-list {
    width: 250px;
}

#crud-btn-container {
    float: right;
    background-color: #bde4ff;
}

#input-container {
    float: right;
}