* {
  font-family: Arial, sans-serif;
  color: black;
}

.listbox-area {
    padding: 15px;
    background: #eee;
    border: 1px solid #aaa;
    font-size: 0;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

.left-area,
.right-area {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.left-area {
  padding-right: 5px;
  width: 45%;
}

.right-area {
  padding-top: 30px;
  padding-left: 5px;
  width: 50%;
}

[data-role="option"] {
    display: block;
    padding: 0 .5em 0 .5em;
    position: relative;
    line-height: 1.8em;
}

[data-role="option"].focused {
    background: #bde4ff;
}

[data-role="option"][aria-selected="true"]::before {
    content: 'âœ“';
    position: absolute;
    left: 0.5em;
}

#rolodex-list {
  margin-top: 10px;
  width: 150px;
}

#crud-btn-container {
    padding-top: 10px;
    padding-right: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.input-field {
  width: 90px;
  height: 17px;
  margin-left: 10px;
}

button {
  margin-right: 10px;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  border-color: darkgrey;
}

.filter {
  margin-left: 10px;
  width: 55px;
}